#my_image {
    width: 500px;
    float: left;
}
#heading_about_me {
    text-align: center;
}
#heading_work_school {
    text-align: center;
}
#heading_other_jobs {
    text-align: center;
}
#heading_experience_computer_science {
    text-align: center;
}