body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

header {
    background-color: rgb(200, 200, 200);
    padding-left: 5%;
    padding-right: 5%;
}
main {
    padding-left: 5%;
    padding-right: 5%;
}
p {
    text-align: justify;
}


.img_header {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.div_header {
    display: flex;
    justify-content: space-between;
}
.h1_header {
    line-height: 100%;
}
.div_header_navigation {
    display: flex;
    align-items: center;
}
.a_header_navigation {
    color: black;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}
.a_header_navigation:hover {
    text-decoration: underline;
}