body {
    background-color: lightgray;
    color: rgb(70, 70, 70);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    text-align: justify;
}

header {
    background-color: rgb(200, 200, 200);
}
main {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
}
footer {
    background-color: rgb(200, 200, 200);
    padding-left: 5%;
    padding-right: 5%;
}

/* #region header*/
.img_header {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.div_header {
    display: flex;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    height: 100px;
}
.div_header_title_navigation {
    display: flex;
    justify-content: space-between;
}
.div_header_left {
    width: 100px;
}
.h1_header {
    line-height: 100px;
}
.div_header_center_right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.div_header_center {

}
.div_header_right {
    display: flex;
    align-items: center;
}
.a_header_navigation {
    color: rgb(70, 70, 70);
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
}
.a_header_navigation:hover {
    text-decoration: underline;
}
/* #endregion */
/* #region footer*/
.div_footer {
    display: flex;
    justify-content: space-between;
}
.div_footer_navigation {
    display: flex;
    align-items: center;
}
.a_footer_navigation {
    color: rgb(70, 70, 70);
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    font-size: small;
}
.a_footer_navigation:hover {
    text-decoration: underline;
}
.td_footer_copyright {
    font-size: small;
}
.td_footer_copyrightsign {
    font-weight: 600;
    width: 20px;
}
/* #endregion */